<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="ServicesBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!--<services>
      <service name="VocalRecallService.SuggestopediaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServicesBinding" contract="VocalRecallService.ISuggestopediaService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.net>
    <defaultProxy>
      <!-- It's important to set the proxy to the Tor HTTP listening port. By default it has only SOCKS port at 9050, so you need to install Privoxy to have and HTTP proxy on port 8118 or 8888 -->
      <!-- You also need to disable HTTPS Everywhere feature in Tor (or Tor Browser) -->
      <proxy autoDetect="False" bypassonlocal="True" proxyaddress="http://127.0.0.1:8118" />
    </defaultProxy>
  </system.net>
  <connectionStrings>
    <add name="VocalRecallEntities" connectionString="metadata=res://*/VocalRecallModel.csdl|res://*/VocalRecallModel.ssdl|res://*/VocalRecallModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THUNDER\SQLSERVER2012;initial catalog=VocalRecall;User ID=vocalrecall;Password=2X4NDDoDYGA4HQkmgC00;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>